body {
    background-color: #f5f5dd ;
}

#square1 {
    background-color: #000000 ;
    width: 150px;
    height: 150px;
}

#square2 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    height: 150px;
}

#square3 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 150px;
}

#square4 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
}